body {
    font-family: 'Courier New', Courier, monospace;
}

.header-space {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.questions {
    display: block;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
}

.start-quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
}

.button {
    background-color:darkslateblue;
    padding: 3px 5px;
    margin: 4px;
    text-align: center;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    font-size: 14px;
    color:antiquewhite;
}

.button:hover {
    background-color:slateblue;
    color: white;
    box-shadow: 0 10px 16px 0 rgba(22, 20, 24, 0.227), 0 10px 20px 0 rgba(22, 20, 24, 0.227);
    cursor: pointer;
}

.button:active {
    background-color: slateblue;
    color: white;
    transform: translateY(1px);
}

h4 {
    font-size: 18px;
}

#score-board {
    display: none;
}

#score-board:hover {
    /* background-color:rgb(194, 191, 191); */
    box-shadow: 0 10px 16px 0 rgba(22, 20, 24, 0.227), 0 10px 20px 0 rgba(22, 20, 24, 0.227);
    cursor: pointer;
}
